<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<h2>Página de login</h2>
	<form action="#" th:action="@{/academia/login}" th:object="${alumno}"
		method="post">
		Usuario<input type="text" th:field="*{usuario}" id="usuario"><span
			th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"
			style="color: red"></span><br>
		Clave<input type="password" th:field="*{clave}" id="clave"><span
			th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}"
			style="color: red"></span><br>
		<input type="submit" value="Entrar en el sistema">
	</form>

</body>
</html>